.leadContainer {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 22rem;

  h1 {
    height: 2.5rem;
    width: 100%;
    margin: 1rem 2rem 0;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    border-bottom: 1px solid var(--color-light-gray);
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 1rem;
  width: 18rem;
  background-color: var(--color-white);
  font-family: Roboto;

  label {
    margin: 1rem 0.5rem 0;
    font-size: 1rem;
    font-weight: 400;
  }

  input {
    height: 2rem;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--color-light-gray);
  }
}

.tableContainer {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 1rem;
  background-color: var(--color-white);
  font-family: Roboto;

  table {
    margin: 1.25rem 0.5rem 0.5rem;
  }

  th {
    height: 2rem;
    background: var(--color-light-gray);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 400;
  }

  tr {
    height: 1.5rem;
  }

  td {
    padding-left: 1rem;
  }

  .checkbox {
    width: 2.5rem;
    padding: 0;
    text-align: center;
  }

  button {
    height: 2.5rem;
    margin: 2rem 0.5rem 0.5rem;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    font-size: 1rem;
    color: var(--color-white);
  }
}
