* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #272727;
  --color-secondary: #1822dc;
  --color-medium-gray: #323338;
  --color-light-gray: #444444;
  --color-white: #fff;
  --color-black: #000;
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
