* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

:root {
  --color-primary: #272727;
  --color-secondary: #1822dc;
  --color-medium-gray: #444444;
  --color-light-gray: #818a91;
  --color-light-blue: #cadcf2;
  --color-white: #fff;
  --color-black: #000;
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.reactModal {
  width: 100%;
  max-width: 50rem;
  background: var(--color-white);
  display: block;
}
