.cardContainer {
  list-style-type: none;
  padding: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  margin: 0.5rem 0;
  border-style: solid;
  border-width: 10px 1px 1px 1px;
  border-color: var(--color-secondary);
  cursor: grab;
}

.cardTitle {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-primary);
}
