.columnContainer {
  padding: 0 0.5rem;
  height: 100%;
  flex: 0 1 15rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  margin: 2rem 0 1rem;
  background: var(--color-medium-gray);

  h3 {
    padding: 0.5rem;
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--color-white);
  }
}
